<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome Admin!
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>Money Deposit</h1>
        <form method="post" th:action="@{/deposit}" th:object="${newTransaction}">
		   <p>
		      <select th:field="*{emailAddressReceiver}">
			    <option th:each="userAccount: ${userAccounts}" th:text="${userAccount.emailAddress}" th:value="${userAccount.emailAddress}">Email Address</option>
			</select>
		   </p>
		   <input th:field="*{amount}" type="number" step="0.01" />
		   <div class="form-group">
					<label for="mailInput">Description</label> 
					<input
						type="text" th:field="*{description}" class="form-control" id="descriptionInput"
						aria-describedby="description" placeholder="Type the reason of the transaction">
				</div>
		   <button type="submit" class="btn btn-primary">Pay</button>
		</form>
    </div>
    
    <h3 th:text="${userAccount.emailAddress}">username</h3>
    
    <h4>The balance</h4>
	<b th:text="${userAccount.amount}">Amount</b>
    
    <div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Date</th>
						<th>Connection</th>
						<th>Description</th>
						<th>Amount</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:if="${transactionList.empty}">
						<td colspan="3">You didn't process any transactions yet.</td>
					</tr>
					<tr th:each="transaction: ${transactionList}">
						<td><span th:text="${transaction.MyDate}"> Date </span></td>
						<td><span th:text="${transaction.connection}"> Connection </span></td>
						<td><span th:text="${transaction.description}"> Description </span></td>
						<td><span th:text="${transaction.amount}"> Amount </span></td>
					</tr>
				</tbody>
				
			</table>
		</div>
     
	</div>
</body>
</html>