<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <style>
		  /* Your external css file will go here. This is just for testing :) */
		.mycustombackground{
		  background: #F5F5F5;
		}
		.active a{
		    color: #316CD9 !important;
		}
		.breadcrumb-item + .breadcrumb-item::before {
	       color: #89B0D2;
	    }
	</style> 
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

	<header>
		<!--Navigation bar-->
		<div th:replace="userNav"></div>
		<!--end of Navigation bar-->
	</header>

	<div class="container text-center">
    	<div>

        <div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>First name</th>
						<th>Name</th>
						<th>Action</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:if="${friends.empty}">
						<td colspan="3">You don't have any friends yet.</td>
					</tr>
					<tr th:each="friend: ${friends}">
						<td><span th:text="${friend.firstName}"> First name </span></td>
						<td><span th:text="${friend.name}"> Name </span></td>
						<td>
							<a th:href="@{/deleteFriend(emailAddress=${friend.emailAddress})}"><button class="btn btn-danger">Supprimer</button></a>						
						</td>
					</tr>
				</tbody>
				
			</table>
		</div>
		<h3 class="h3">Add a new friend</h3>
		<div>
			<form method="post"
				th:action="@{/addFriend}" th:object="${userAccount}">
				<div class="form-group">
					<label for="mailInput">Email</label> 
					<input
						type="text" th:field="*{emailAddress}" class="form-control" id="mailInput"
						aria-describedby="mailHelp" placeholder="Type the email address"> <small
						id="mailHelp" class="form-text text-muted">Type the email address of your friend.</small>
				</div>
				<button type="submit" class="btn btn-primary">Add</button>
			</form>
		</div>

    </div>
     
</div>
</body>
</html>