<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>Pay My Buddy</h1>
        <h2>My Transactions</h2>
        <h3><a th:href="@{/user}">HOME</a></h3>
        <h3><a th:href="@{/contact}">My friends</a></h3>

		<h3>My balance</h3>
		<b th:text="${userAccount.amount}">balance</b>

        <div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Connections</th>
						<th>Description</th>
						<th>Amount</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:if="${transactions.empty}">
						<td colspan="3">You didn't process any transactions yet.</td>
					</tr>
					<tr th:each="transaction: ${transactions}">
						<td><span th:text="${transaction.connection}"> Connection </span></td>
						<td><span th:text="${transaction.description}"> Description </span></td>
						<td><span th:text="${transaction.amount}"> Amount </span></td>
					</tr>
				</tbody>
				
			</table>
		</div>

    </div>
     
</div>
</body>
</html>