<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="form-actions">
	        	<button type="submit" class="btn bg-success text-white px-4 font-weight-bold">Pay My Buddy</button>
	        </div>
			<div class="collapse navbar-collapse" id="navbarNav">
        	<ul class="navbar-nav ml-auto">
		        <li class="nav-item"><a class="nav-link" th:href="@{/user}">Home</a></li>
		        <li class="nav-item active"><a class="nav-link" th:href="@{/transac}">Transfer</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Log off</a></li>
        	</ul>
        	</div>
        </nav>

		    <nav aria-label="breadcrumb">
		      <ol class="breadcrumb">
		        <li class="breadcrumb-item"><a th:href="@{/user}">Home</a></li>
		        <li class="breadcrumb-item active" aria-current="page">Transfer</li>
		      </ol>
		    </nav>

	</header>
	<div class="container text-center">
		<h3 class="h3">Transaction to a friend</h3>

		<form method="post" th:action="@{/makeTransaction}" th:object="${newTransaction}">
		    <div class="row">
			    <div class="col">
			      	<select th:field="*{emailAddressReceiver}">
					<option value="3" selected="selected"> Select A Connection </option>
				    <option th:each="friend: ${friends}" th:text="${friend.emailAddress}" th:value="${friend.emailAddress}" >Email Address</option>
					</select>
			   	</div>
			   	<div class="col">
			   		<input th:field="*{amount}" type="number" step="0.01" />
			   </div>
			   <div class="col">
			   <div class="form-group">
						<input
							type="text" th:field="*{description}" class="form-control" id="descriptionInput"
							aria-describedby="description" placeholder="Type a description">
					</div>
				</div>
				<div class="col">
			   <button type="submit" class="btn btn-primary">Pay</button>
			   </div>
		   </div>
		</form>
		
			<h3 class="h3">Transaction to one of your bank account</h3>
		<div>
		<form method="post" th:action="@{/ToBankAccount}" th:object="${newTransaction}">
		   <div class="row">
			   <div class="col">
			      <select th:field="*{idBankAccount}">
			      <option value="select" selected="selected"> Select A Bank Account </option>
				    <option th:each="myBankAccount: ${myBankAccounts}" th:text="${myBankAccount.id}" th:value="${myBankAccount.id}">bank account id</option>
					</select>
				</div>
				<div class="col">
			   		<input th:field="*{amount}" type="number" step="0.01" />
			   	</div>
			   	<div class="col">
			   		<div class="form-group">
						<input
							type="text" th:field="*{description}" class="form-control" id="descriptionInput"
							aria-describedby="description" placeholder="Type a description">
					</div>
				</div>
				<div class="col">
			   		<button type="submit" class="btn btn-primary">Pay</button>
			   </div>
		   </div>
		</form>

		<h4>My balance</h4>
		<b th:text="${userAccount.amount}">Amount</b>

        <div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Date</th>
						<th>Connection</th>
						<th>Description</th>
						<th>Amount</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:if="${transactions.empty}">
						<td colspan="3">You didn't process any transactions yet.</td>
					</tr>
					<tr th:each="transaction: ${transactions}">
						<td><span th:text="${transaction.MyDate}"> Date </span></td>
						<td><span th:text="${transaction.connection}"> Connection </span></td>
						<td><span th:text="${transaction.description}"> Description </span></td>
						<td><span th:text="${transaction.amount}"> Amount </span></td>
					</tr>
				</tbody>
				
			</table>
		</div>

    	</div>
     
	</div>
</body>
</html>