<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <style>
		  /* Your external css file will go here. This is just for testing :) */
		.mycustombackground{
		  background: #F5F5F5;
		}
		.active a{
		    color: #316CD9 !important;
		}
		.breadcrumb-item + .breadcrumb-item::before {
	       color: #89B0D2;
	    }
	</style> 
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<!--Navigation bar-->
		<div th:replace="userNav"></div>
		<!--end of Navigation bar-->
	    <nav aria-label="breadcrumb mycustombackground">
	      <ol class="breadcrumb mycustombackground" style="padding-left:25px; font-size: 125%;">
	        <li class="breadcrumb-item"><a th:href="@{/user}" style="padding-right:12.5px" >Home</a></li>
	        <li class="breadcrumb-item active" aria-current="page"><span style="padding-left:12.5px">Transfer</span></li>
	      </ol>
	    </nav>
	</header>
	<div class="container">

		<form method="post" th:action="@{/makeTransaction}" th:object="${newTransaction}">
			<div class="row">
				<div style="font-size: large;">Send Money to a friend</div>
				<a th:href="@{/contact}" role="button" class="btn btn-primary ml-auto font-weight-bold px-4">Add Connection</a>
			</div>
		    <div class="row mycustombackground" style="padding-top:33px; padding-bottom:25px;">
			    <div class="col-sm text-center pt-2">
			      	<select th:field="*{emailAddressReceiver}">
					<option value="3" selected="selected"> Select A Connection </option>
				    <option th:each="friend: ${friends}" th:text="${friend.emailAddress}" th:value="${friend.emailAddress}" >Email Address</option>
					</select>
			   	</div>
			   	<div class="col-sm text-center pt-2">
			   		<input th:field="*{amount}" type="number" step="0.01" />
			   </div>
			   <div class="col-sm text-center pt-2">
			   		<div class="form-group">
						<input
							type="text" th:field="*{description}" class="form-control" id="descriptionInput"
							aria-describedby="description" placeholder="Type a description">
					</div>
				</div>
				<div class="col-sm text-center pt-2">
			   		<button type="submit" class="btn bg-success text-white px-5 font-weight-bold">Pay</button>
			   </div>
		   </div>
		</form>
		<br/>
		<form method="post" th:action="@{/ToBankAccount}" th:object="${newTransaction}">
			<div class="row">
					<div style="font-size: large;">or to one of your bank accounts</div>
					<a th:href="@{/profile}" role="button" class="btn btn-primary ml-auto font-weight-bold px-4">Add Connection</a>
			</div>
		   <div class="row mycustombackground" style="padding-top:33px; padding-bottom:25px;">
			   <div class="col-sm text-center pt-2">
			      <select th:field="*{idBankAccount}">
			      <option value="select" selected="selected"> Select A Bank Account </option>
				    <option th:each="myBankAccount: ${myBankAccounts}" th:text="${myBankAccount.id}" th:value="${myBankAccount.id}">bank account id</option>
					</select>
				</div>
				<div class="col-sm text-center pt-2">
			   		<input th:field="*{amount}" type="number" step="0.01" />
			   	</div>
			   	<div class="col-sm text-center pt-2">
			   		<div class="form-group">
						<input
							type="text" th:field="*{description}" class="form-control" id="descriptionInput"
							aria-describedby="description" placeholder="Type a description">
					</div>
				</div>
				<div class="col-sm text-center pt-2">
			   		<button type="submit" class="btn bg-success text-white px-5 font-weight-bold">Pay</button>
			   </div>
		   </div>
		</form>

		<h4  class="text-center mt-4">My Balance</h4>
		<div th:text="${userAccount.amount}" class="text-center">Amount</div>
		<div class="row">
			<div style="font-size: large;">My Transactions</div>
		</div>
		<table id="dtBasicExample" class="table table-striped mb-0" style="border: 2px solid black; padding-left:10px; padding-right:10px;">
			<thead>
				<tr class="bg-success" style="color:white; margin: 0 !important;">
					<th style="padding-top:35px; padding-bottom:35px; text-align: center; margin: 0 !important;">Date</th>
					<th style="padding-bottom:35px; text-align: center; margin: 0 !important;">Connection</th>
					<th style="padding-bottom:35px; text-align: center; margin: 0 !important;">Description</th>
					<th style="padding-bottom:35px; text-align: center; margin: 0 !important;">Amount</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:if="${transactions.empty}">
					<td colspan="3">You didn't process any transactions yet.</td>
				</tr>
				<tr th:each="transaction: ${transactions}">
					<td style="padding-top:35px; padding-bottom:35px; text-align: center; margin: 0 !important;"><span th:text="${transaction.MyDate}"> Date </span></td>
					<td style="padding-top:35px; padding-bottom:35px; text-align: center; margin: 0 !important;"><span th:text="${transaction.connection}"> Connection </span></td>
					<td style="padding-top:35px; padding-bottom:35px; text-align: center; margin: 0 !important;"><span th:text="${transaction.description}"> Description </span></td>
					<td style="padding-top:35px; padding-bottom:35px; text-align: center; margin: 0 !important;"><span th:text="${transaction.amount}"> Amount </span></td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="Page navigation example" class="text-center justify-content-center border mt-0">
		  <ul class="pagination text-center justify-content-center pagination-lg">
			<li class="page-item">
		      <a class="page-link" href="#" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		        <span class="sr-only">Previous</span>
		      </a>
		    </li>
		    <li class="page-item"><a class="page-link" href="#">1</a></li>
		    <li class="page-item"><a class="page-link" href="#">2</a></li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item"><a class="page-link" href="#">4</a></li>
		    <li class="page-item"><a class="page-link" href="#">5</a></li>
		    <li class="page-item">
		      <a class="page-link" href="#" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		        <span class="sr-only">Next</span>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
</body>
</html>