<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
       <p>
           Welcome <b th:text="${user.firstName}">First name</b>
       </p>
    </div>
    <div>
        <h1>Pay My Buddy</h1>
        
        <nav>
        	<ul>
		        <li><a th:href="@{/user}">Home</a></li>
		        <li><a th:href="@{/transac}">Transfer</a></li>
				<li><a th:href="@{/profile}">Profile</a></li>
				<li><a th:href="@{/contact}">Contact</a></li>
				<li><a th:href="@{/logout}">Log off</a></li>
        	</ul>
        </nav>
    </div>
     
</div>
</body>
</html>